@import "tailwindcss";
  @font-face {
    font-family: "IRANSans";
    src: url("/fonts/IRANSansMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  *{
    font-family: "IRANSans";
    direction: rtl;
  }

  body{
    background: #f3f4f6;
  }